/* imports */
@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Butcherman&family=Fruktur&family=Zen+Dots&display=swap');

/* General setting */

:root {
  --green-primary1: rgba(178,241,166,1);
  --font-text: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, Arial;
  --blue-primary1: rgba(148,187,233,1);
  --font-primary1: 'Butcherman', cursive;
  --font-para: 'Open Sans', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: rgb(178,241,166);
  background: linear-gradient(0deg, rgba(178,241,166,1) 11%, rgba(148,187,233,1) 100%);
}

/* universal */

h1 {
  font-family: 'Aubrey', cursive;
}

p {
  font-family: var(--font-para);
}

/* 1 home page */

.header-container {
  display: grid;
  grid-template-rows: 25% 75%;
  overflow: auto;
  min-height: 100vh;
}

/*1.1 heading */

.heading h1 {
  font: 400 3rem var(--font-primary1);
  margin-bottom: 0px;
  text-align: center;
}

.heading p {
  font: 1.2rem 'Open Sans', sans-serif;
  text-transform: capitalize;
  text-align: center;
}

/*1.2 text-container*/

.wrap-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  column-gap: 5%;
}

/*1.2.1 text input*/

.text-input {
  width: 50%;
  flex: 600px 1 1;
}

.text-input p {
  margin: 0px 0px 1% 0px;
  font-size: 1.7rem;
}

#text-area,
.spelling-container fieldset,
#summary-field {
  font: 1.2rem var(--font-text);
  width: 100%;
  height: 50vh;
  resize: none;
  border: 4px solid var(--green-primary1);
  border-radius: 20px;
  padding: 10px;
}

#text-area::-webkit-scrollbar {
  display: none;
}

/* 1.2.2 operations*/

.operations {
  width: 30%;
  flex: 250px 2 2;
}

.operations p {
  font: bold 1.7rem 'Aubrey', cursive;
  text-transform: capitalize;
  margin: 0px 0px 1% 0px;
}

.operations ul {
  list-style: none;
  width: 90%;
  padding: 0px;
}

.operations li,
.btn {
  font: 1.4rem 'Open Sans', sans-serif;
  text-transform: capitalize;
  float: left;
  margin: 5px 5px;

}

.operations input[type="checkbox"] {
  background: black;
  height: 20px;
  width: 20px;
}

.btn {
  width: 100%;
  max-width: 300px;
}

.submit-btn,
.clear-btn {
  font-size: 1.2rem;
  width: 45%;
  height: 35px;
  margin: 5px 2px 10px 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: var(--green-primary1);
}

.clear-btn:hover {
  background: rgb(211, 211, 211);
}


/* media queries */
@media (max-width:700px) {
  .heading h1 {
    font-size: 2rem;
    margin: 0px;
  }

  .header-container {
    grid-template-rows: 15% 85%;
  }

  .text-input p {
    font-size: 1.3rem;
  }

  #text-area {
    height: 35vh;
  }
}